mat-toolbar {
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(100, 164, 178);
    height: 50px;
    column-gap: 10px;

}

.logout-button {
    float: right;
}

button {
    background-color: rgb(100, 164, 178);
    font-size: 16px;
}

button:hover {
    background-color: rgb(194, 239, 249);
}

.logout-button {
    background-color: rgb(239, 163, 163);
}

.logout-button:hover {
    background-color: rgb(241, 128, 128);
}