<app-navbar></app-navbar>
<div class="movie-card-container">
	<mat-card class="movie-card" *ngFor="let movie of movies; let i=index;">
		<mat-dialog-content>
			<mat-card-title>{{movie.Title}}</mat-card-title>
			<mat-card-subtitle><img src={{movie.ImagePath}} /></mat-card-subtitle>
			<!-- <p>{{movie.Description}} </p> -->
			<p>
				<b>Genre: </b>
				<button class="movie-button" mat-flat-button
					(click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)">
					{{movie.Genre.Name}}
				</button>
				<br>
				<b>Directed by </b>
				<button class="movie-button" mat-flat-button
					(click)="openDirectorDialog(movie.Director.Name, movie.Director.Birth, movie.Director.Bio)">
					{{movie.Director.Name}}
				</button>
			</p>
			<mat-card-actions>
				<button class="details-button" mat-raised-button
					(click)="openMovieDetailsDialog(movie.Title, movie.ImagePath, movie.Description, movie.Genre.Name, movie.Director.Name)">
					Details
				</button>
				<!-- <button mat-icon-button color="warn" (click)="addFavorite(movie._id)">
					<mat-icon>favorite_border</mat-icon>
				</button> -->
				<button mat-button *ngIf="!isFavorite(movie._id)" (click)="addFavorite(movie._id)" color="primary">
					<mat-icon>favorite_border</mat-icon>
				</button>
				<button mat-button *ngIf="isFavorite(movie._id)" (click)="removeFavorite(movie._id)" color="primary">
					<mat-icon>favorite</mat-icon>
				</button>

			</mat-card-actions>


		</mat-dialog-content>
	</mat-card>
</div>